.homepageHolder{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 15px;
    margin: 5px 30px 5px 30px;
    
}

.fishName{
    text-align: center;
    font-size: 20px;
    margin-top: 60px;
}

.commonImg{
    border: 3px solid black;
    border-radius: 5px;
    width: 375px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;

}

.card1{
    grid-column: 1 /span 1;
    grid-row: 1 /span 1;
    border: 5px solid black;
    border-radius: 4px;
    width: 400px;
    height: 350px;

}

.card2{
    grid-column: 2 /span 1;
    grid-row: 1 /span 1;
    border: 5px solid black;
    border-radius: 4px;
    width: 400px;
    height: 350px;
}

.card3{
    grid-column: 1 /span 1;
    grid-row: 2 /span 1;
    border: 5px solid black;
    border-radius: 4px;
    width: 400px;
    height: 350px;
}

.card4{
    grid-column: 2 /span 1;
    grid-row: 2 /span 1;
    border: 5px solid black;
    border-radius: 4px;
    width: 400px;
    height: 350px;
}

.card5{
    grid-column: 1 /span 1;
    grid-row: 3 /span 1;
    border: 5px solid black;
    border-radius: 4px;
    width: 400px;
    height: 350px;
}

.card6{
    grid-column: 2 /span 1;
    grid-row: 3 /span 1;
    border: 5px solid black;
    border-radius: 4px;
    width: 400px;
    height: 350px;
}