header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 0px;
    border-bottom: 3px solid black;
}

logo{
    grid-column: 1 /span 1;
}

form{
    grid-column: 2 /span 1;
    margin: 50px 0px 25px 0px;

}

button{
    margin-right: 5px;
}

.random{
    grid-column: 3 / span 1;
    color: antiquewhite;
    background-color:blue;
    font-size: larger;
    margin: 50px;

}

